<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Hosts.plist
   MacOSX-SSHMenu

   Created by Marinho Brandao on 21/01/11.
   Copyright 2011 Raminel Web. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
